<div class="asset-preview">
  <img src="{{ asset_preview }}" />
    <br />
    <a target="_blank" href="{{ asset_link }}">Open in Webdam</a>
</div>

<div class="asset-data">
    <table>
        <tr>
            <td colspan="2"><strong>Asset Properties</strong></td>
        </tr>
        {% for attribute, value in asset_data.base_properties %}
            <tr>
                <td>{{ attribute }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}


        {% if asset_data.additional_metadata is not empty %}
            <tr>
                <td colspan="2"><strong>Additional Metadata</strong></td>
            </tr>
            {% for attribute, value in asset_data.additional_metadata %}
                <tr>
                    <td>{{ attribute }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
